.vscode
**/__pycache__/

nerf_vision/data/
nerf_vision/processed
nerf_vision/targets
nerf_vision/processed_vanilla

yolo_model/robotflow_api.key
yolo_model/jackal_detection*
yolo_model/jackal_segmentation*
yolo_model/runs/
yolo_model/yolov8n.pt
yolo_model/yolov8n-seg.pt

blender/data
blender/blend/*.blend1