<launch>

  <!-- Define relative tf of frames-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_tf" args="0 0 0 0 0 0 1 odom world 100" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf" args="0 0 0 0 0 0 1 world camera_link 100" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_optical_tf" args="0 0 2 0 0.258819 0 0.9659258  world camera_link_optical 100" />

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find nerf_simulation)/urdf/camera.xacro'" />

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nerf_simulation)/launch/camera_jackal.rviz"/>

</launch>